// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.transactionForm {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top:3rem;
    margin-bottom:4rem;
    .buttons {
        transition: 0.3s all;
        button {
            margin: 0.3rem;
        }
    }

    .input {
        position: relative;
        .input-group {
            margin-top: 5px;

            .btn {
                margin-left: 0.3rem;
            }
        }
        .categories {
            position: absolute;
            top: -25px;
            span {
                margin-right: 5px;
            }
        }
        width:70%;
    }
}

.list-group {
    .list-group-item-heading {
        text-align: right;
        font-size: 40px;
    }
    .currency {
        text-align: right;
    }
    .list-group-item-text {
        position: absolute;
        top:5px;
        span {
            font-weight: bold;
        }
    }
}